@import url("https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Bebas+Neue&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Londrina+Sketch&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 300;
  font-style: normal;
  scroll-behavior: smooth;
}
p {
  font-family: "Roboto Mono", monospace !important;
  font-weight: 400;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 2px solid black;
}
.ham{
  display: none;
}

nav .nav-links a {
  text-decoration: none;
  cursor: pointer;
  text-transform: capitalize;
  margin: 15px;
  color: #333;
  font-weight: 200;
  font-size: 24px;
}
.home {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .header {
    text-align: center;
    margin: 100px 0 10px 0;
  }
  .header h1 {
    font-size: 120px;
  }
  .image {
    margin: 20px;
  }
  .image img {
    width: 100%;
    height: auto;
    border-radius: 56px;
  }
  .frames {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
    margin-top: 50px;
  }
  .frames img {
    width: 400px;
    height: auto;
    padding: 10px;
  }
  
  .frames p {
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 2px;
    font-size: 17px;
  }
  
  .frames p:nth-child(3) {
    color: rgba(0, 0, 0, 0.6);
    padding-top: 0px;
    padding-bottom: 10px;
    font-size: 13px;
  }
  .about {
    padding: 156px 10px;
    text-align: center;
    text-wrap: wrap;
  }
  .about div {
    display: flex;
    justify-content: center;
  }
  .about div h2 {
    width: 75%;
    text-align: center;
    font-size: 45px;
  }
  .featured {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 2px solid rgba(0, 0, 0, 0.16);
  }
  .mt-4 {
    margin-top: 30px;
  }
  .mb-10 {
    margin-bottom: 50px;
  }
  .featured h1 {
    font-size: 68px;
  }
  .featured p {
    font-size: 24px;
  }
  
  .featured button {
    font-family: "Roboto Mono", monospace !important;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 20px;
    background-color: black;
    color: white;
    cursor: pointer;
  }
  .featured img {
    width: 100%;
    height: auto;
  }
  .quote {
    padding: 156px 10px;
    text-align: center;
    text-wrap: wrap;
  }
  .quote div {
    display: flex;
    justify-content: flex-end;
  }
  
  .quote div p {
    width: 40%;
    text-align: left;
    font-size: 24px;
  }
  .contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .contact h3 {
    text-align: center;
    width: 70%;
    font-size: 34px;
  }
  .contact form {
    display: flex;
  }
  .contact input {
    width: 21vw;
    margin: 0 20px;
    padding: 10px 20px;
    border-color: rgba(0, 0, 0, 0.16);
    border-radius: 8px;
    font-family: "Roboto Mono", monospace !important;
  }
  .contact button {
    font-family: "Roboto Mono", monospace !important;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 15px;
    background-color: black;
    color: white;
    cursor: pointer;
  }
  .icons {
    font-size: 43px;
  }
  .icons i {
    cursor: pointer;
  }
  .ml-5 {
    margin-left: 15px;
  }
  footer {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    margin-top: 10em;
    align-items: center;
  }
  
  footer button {
    font-family: "Roboto Mono", monospace !important;
    padding: 12px 20px;
    background-color: white;
    color: black;
    border: 1px solid;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  footer button:hover {
    background-color: black;
    color: white;
  }
  @media (max-width: 1239px) {
    .header h1 {
      font-size: 100px;
    }
    .image9 {
      display: none;
    }
  }
  @media (max-width: 889px) {
    .header h1 {
      font-size: 80px;
    }
  }